/* responsive nav styles  */
.res_nav {
    width: 100vw;
    height: 90px;
    background-color: #84c225;
    margin: auto;
    position: -webkit-sticky;
   position: sticky;
   top: 0;
   z-index: 100;
   display: none;
}
.res_icons {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.res_input {
    width: 100%;
    height: 50%;
}
/* parent container ************ */
.parent_container {
    width: 100vw;
    height: 16vh;
    position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 100;
background-color: white;
}


/* child container ************** */
.child_container {
    width: 75%;
    height: 100%;
    margin: auto;
}


/* top row starts ***************** */
.top_row {
height: 22%;
width: 35%;
display: flex;
justify-content: space-between;
align-items: center;
margin-left: 65%;
}

.top_row_content {
   
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.top_row_content:hover {
    cursor: pointer;
    color: #84c225;
}

/* mid row ****************************  */
.mid_row {
height: 50%;
width: 100%;
display: flex;
justify-content: space-between;

}
.mid_row_logo {

    width: 16%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.mid_row_input {

    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
}
.mid_row_cart {
 
    width: 12%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
}

/* bottom row********************************** */
.bottom_row {
border: 1px solid rgba(128, 128, 128, 0.428);
    height: 28%;
    width: 100%;
    display: flex;
    /* gap: 20px; */
}
.dropdown {

width: 17%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-between;
background-color: #84c225;
color: white;
position: relative;

}
.offers {
  
   width: 7%;
   height: 100%;
   padding: 3px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.offers:hover {
    background-color: #84c225;
    cursor: pointer;
}

.dropdownBox{
    position: absolute;
    border: 1px solid black;
    width: 75vw;
    height: 400px;
    margin: auto;
    background-color: white;
    top: 38px;      
    display: none;
}
.dropdown_child_div {
    width: 20%;
    height: 100%;
    color: gray;
}
.dropdownBox :nth-child(2){
    background-color: rgba(128, 128, 128, 0.199);
}
.dropdown_child_div div {
    border-top: 1px solid rgba(128, 128, 128, 0.671);
    line-height: 30px;
}

.dropdown:hover .dropdownBox {
    display: block;
    display: flex;
}


@media only screen and (max-width:1000px) {
.parent_container{
    display: none;
}
.res_nav {
   display: block;
  
}
}